[package]
name = "terraphim_middleware"
version = "0.1.1"
edition = "2021"
authors = ["Terraphim Contributors"]
description = "Terraphim middleware for searching haystacks"
documentation = "https://terraphim.ai"
homepage = "https://terraphim.ai"
repository = "https://github.com/terraphim/terraphim-ai"
keywords = ["personal-assistant", "ai", "privacy", "middleware"]
license = "Apache-2.0"
readme = "../../README.md"


[dependencies]
terraphim_config = { path = "../terraphim_config", version = "0.2.0" }
terraphim_rolegraph = { path = "../terraphim_rolegraph", version = "0.1.1" }
terraphim_automata = { path = "../terraphim_automata", version = "0.1.1" }
terraphim_types = { path = "../terraphim_types", version = "0.1.1" }
terraphim_persistence = { path = "../terraphim_persistence", version = "0.1.1" }

ahash = { version = "0.8.8", features = ["serde"] }
cached = { version = "0.47.0", features = ["async", "serde", "ahash"] }
log = "0.4"
serde = { version = "1.0.149", features = ["derive"] }
serde_json = "1.0.110"
thiserror = "1.0.56"
tokio = { version = "1.15.0", features = ["full"] }
tokio-stream = { version = "0.1.14", features = ["sync"] }
ulid = { version = "1.0.0", features = ["serde", "uuid"] }
url = "2.5.0"
