[package]
name = "terraphim_pipeline"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = "1.4.0"
regex = "1.8.3"
unicode-segmentation = "1.10.1"
memoize = "0.4.0"
ahash = {version="0.8.3", features=["serde"]}
terraphim_automata = { path="../terraphim_automata"}
itertools="0.11.0"
ulid = {version = "1.0.0",features=["serde","uuid"]}
log = "0.4.20"
smol_str = { version = "0.2.0", features = ["serde"] }
# tracing = "0.1.37"

[[bench]]
name = "pipeline_benchmark"
harness = false

[dev-dependencies]
criterion = "0.3"

[profile.release]
debug = true
