type:: [[Business object]]
source:: [[@Digital Systems Engineering Process Model Version: 1.0]]
documentation:: An account prepared for interested parties in order to communicate the status, results, and outcomes of the verification activities. Includes verification results and the objective evidence confirming that the system fulfills its requirements, architectural characteristics, and design properties or not. Should also communicate an assessment of the confidence level of the findings or results.

-