type:: [[Business function]]
source:: [[@Digital Systems Engineering Process Model Version: 1.0]]
documentation:: As stated in ISO/IEC/IEEE 15288, [6.4.9.1] The purpose of the Verification process is to provide objective evidence that a system or system element fulfils its specified requirements and characteristics.  See detailed description in the INCOSE Handbook v.4, page 83.
inputs:: [[Life cycle concepts]], [[System requirements]], [[Verification criteria]], [[Updated RVTM]], [[Interface definition]], [[Integrated system or system elements]], [[Integration report]]
outputs:: [[Verification strategy]], [[Verification enabling system requirements]], [[Verification constraints]], [[Verification procedure]], [[Final RVTM]], [[Verified system]], [[Verification report]], [[Verification record]]
activities:: [[Prepare for verification]], [[Perform verification]], [[Manage results of verification]]

- ![image.png](../assets/image_1689441446018_0.png)