[package]
name = "terraphim_persistence"
version = "0.1.0"
edition = "2021"
authors = ["Terraphim Contributors"]
description = "Terraphim persistence layer"
documentation = "https://terraphim.ai"
homepage = "https://terraphim.ai"
repository = "https://github.com/terraphim/terraphim-ai"
keywords = ["personal-assistant", "ai", "privacy", "persistence", "storage"]
license = "Apache-2.0"
readme = "../../README.md"


[dependencies]
terraphim_settings = { path = "../terraphim_settings", version = "0.1.0" }
terraphim_types = { path = "../terraphim_types", version = "0.1.0" }

tracing-subscriber = { version = "0.3", features = [
    "env-filter",
    "tracing-log",
] }
async-once-cell = "0.5.3"
async-trait = "0.1.74"
log = "0.4"
opendal = { version = "0.44.2", features = [
    "services-dashmap",
    "services-redis",
    "services-sled",
] }
serde = { version = "1.0.182", features = ["derive"] }
serde_json = "1.0.104"
thiserror = "1.0.56"
tokio = { version = "1.27", features = ["fs", "macros", "rt-multi-thread"] }
regex = "1.11.0"


[dev-dependencies]
tempfile = "3.7.1"
terraphim_config = { path = "../terraphim_config" }
temp-env = "0.3.6"
serial_test = "3.1.1"
tokio = { version = "1", features = ["full"] }
test-env-log = "0.2"

[features]
default = ["services-dashmap", "services-sled", "services-atomicserver"]
# Enable services dashmap support
services-dashmap = ["opendal/services-dashmap"]
# Enable services ipfs support
services-ipfs = ["opendal/services-ipfs"]
# Enable services redis support
services-redis = ["opendal/services-redis"]
# Enable services rocksdb support
services-rocksdb = ["opendal/services-rocksdb"]
# Enable services sled support
services-sled = ["opendal/services-sled"]
# Enable services atomic server
services-atomicserver = ["opendal/services-atomicserver"]
memory = []
