[package]
name = "terraphim_service"
version = "0.1.0"
edition = "2021"
authors = ["Terraphim Contributors"]
description = "Terraphim service for handling user requests and responses."
documentation = "https://terraphim.ai"
homepage = "https://terraphim.ai"
repository = "https://github.com/terraphim/terraphim-ai"
keywords = ["personal-assistant", "ai", "privacy", "service"]
license = "Apache-2.0"
readme = "../../README.md"

[dependencies]
terraphim_persistence = { path = "../terraphim_persistence", version = "0.1.0" }
terraphim_config = { path = "../terraphim_config", version = "0.1.0" }
terraphim_middleware = { path = "../terraphim_middleware", version = "0.1.0" }
terraphim_settings = { path = "../terraphim_settings", version = "0.1.0" }
terraphim_types = { path = "../terraphim_types", version = "0.1.0" }
terraphim_automata = { path = "../terraphim_automata", version = "0.1.0" }
terraphim_rolegraph = { path = "../terraphim_rolegraph", version = "0.1.0" }

thiserror = "1.0.58"
opendal = { version = "0.44.2" }
serde_json = "1.0.116"
serde = { version = "1.0.198", features = ["serde_derive"] }
fnv = "1.0.7"
log = "0.4.21"
strsim = "0.11.1"
cached = "0.47.0"
