[package]
name = "terraphim-ai-desktop"
version = "0.1.0"
description = "Desktop app for Terraphim, a privacy preserving AI assistant: Take control of the relevance"
authors = ["Terraphim Contributors"]
license = "Apache-2.0"
homepage = "https://terraphim.ai"
documentation = "https://terraphim.ai"
repository = "https://github.com/terraphim/terraphim-ai"
keywords = ["personal-assistant", "ai", "privacy", "tauri", "desktop"]
readme = "../../README.md"
edition = "2021"
rust-version = "1.57"

[build-dependencies]
tauri-build = { version = "1.5.1", features = [] }

[dependencies]
terraphim_automata = { path = "../../crates/terraphim_automata", version = "0.1.0" }
terraphim_config = { path = "../../crates/terraphim_config", version = "0.1.0" }
terraphim_middleware = { path = "../../crates/terraphim_middleware", version = "0.1.0" }
terraphim_rolegraph = { path = "../../crates/terraphim_rolegraph", version = "0.1.0" }
terraphim_settings = { path = "../../crates/terraphim_settings", version = "0.1.0" }
terraphim_types = { path = "../../crates/terraphim_types", version = "0.1.0" }
terraphim_persistence = { path = "../../crates/terraphim_persistence", version = "0.1.0" }
terraphim_service = { path = "../../crates/terraphim_service", version = "0.1.0" }
serde_json_any_key = "2.0.0" 
anyhow = "1.0.81"
log = "0.4.21"
portpicker = "0.1.1"
serde = { version = "1.0.197", features = ["derive"] }
tauri = { version = "1.7.1", features = [ "cli", "dialog-all", "path-all", "fs-all",
    "global-shortcut-all",
    "system-tray",
] }
serde_json = "1.0.104"
tokio = { version = "1.36.0", features = ["full"] }
thiserror = "1.0.58"
ahash = "0.8.11"
schemars = { version = "0.8", features = ["derive"] }

[dev-dependencies]
tokio-test = "0.4.4"
serial_test = "3.1.1"
tempfile = "3.12.0"
mockall = "0.13.0"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
